.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.Rhistory
R/.Rhistory
vignettes/.Rhistory
vignettes/data/gated_data/.Rhistory
vignettes/data/raw_data/.Rhistory
.DS_Store
R/.DS_Store
vignettes/.DS_Store
vignettes/data/.DS_Store
vignettes/data/gated_data/.DS_Store
vignettes/data/raw_data/.DS_Store
vignettes/images/.DS_Store